@layout-body-transaction: margin 500ms ease;
@layout-transaction: all 500ms ease;

.layout-row() {
    .row {
        position: relative;
        margin: 15px 0;
        padding: 25px 14px 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
}

.layout-row-before() {
    .row:before {
        position: absolute;
        top: -1px;
        left: -1px;
        display: block;
        padding: 3px 7px;
        color: #9DA0A4;
        font-size: 75%;
        font-weight: bold;
        content: "Row";
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        border-radius: 4px 0;
    }
}

.layout-column() {
    .layout-column {
        position: relative;
        margin: 15px 0;
        padding: 39px 19px 24px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
}

.layout-column-after() {
    .layout-column:after {
        position: absolute;
        top: -1px;
        left: -1px;
        padding: 3px 7px;
        color: #9DA0A4;
        font-size: 75%;
        font-weight: bold;
        content: "Column";
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        border-radius: 4px 0;
      
       
    }
}

body {
    padding-top: 50px;
    padding-bottom: 40px;
    margin-left: 200px;
    -webkit-transition: @layout-body-transaction;
    -moz-transition: @layout-body-transaction;
    -ms-transition: @layout-body-transaction;
    -o-transition: @layout-body-transaction;
    transition: @layout-body-transaction;
    font-size: 16px;
}

.layout-preview {
    margin: 0px;
    padding: 0px;

    .layout-top-navbar, .layout-side-navbar {
        display: none;
    }

    .layout-panel {
        margin-top: 45px;
    }

    .drag, .remove {
        display: none;
    }

    .btn-back-edit {
        position: absolute;
        top: 10px;
        left: 15px;
        font-weight: bold;
    }
}

.fa {
    margin-right: 4px;
}

.layout-top-navbar {
    position: fixed;
    top: 0px;
    left: 200px;
    z-index: 10;
    width: 100%;
    height: 44px;
    padding: 5px 15px;
    -webkit-transition: @layout-transaction;
    -moz-transition: @layout-transaction;
    -ms-transition: @layout-transaction;
    -o-transition: @layout-transaction;
    transition: @layout-transaction;
    background: #ccc;
}

.layout-side-navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0;
    width: 200px;
    z-index: 10;
    -webkit-transition: @layout-transaction;
    -moz-transition: @layout-transaction;
    -ms-transition: @layout-transaction;
    -o-transition: @layout-transaction;
    transition: @layout-transaction;
    background: #ccc;

    .layout-brand {
        display: block;
        height: 44px;
        padding: 10px;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        background: #000;
    }

    .layout-row {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 10px;
    }

    .preview {
        .layout-column {
            display: block;
            padding: 0px;
            color: #666;
            line-height: 22px;
        }

        input {
            margin-top: -1px;
            padding: 0 10px;
            height: 22px;
            cursor: default;
            font-size: 70%;
            color: #999;
            line-height: 22px;
            background: #bbb;
        }

        span {
            padding: 0 2px;
            cursor: pointer;
            line-height: 20px;
        }
    }

    .view {
        display: none;
    }

    .ui-draggable-dragging {
        display: block;

        .layout-row-before();
        .layout-column-after();
    }
}

.ui-draggable-dragging {
    .drag, .remove {
        display: none;
    }

    .layout-row();
    .layout-column();
}

.ui-sortable-placeholder {
    outline: 1px dashed #ddd;
    visibility: visible!Important; 
    border-radius: 4px;
}

.layout-edit {
    .layout-panel {
        position: relative;
        margin-left: 0px;
        margin-top: 10px;
        padding: 30px 15px 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        word-wrap: break-word;

        &:after {
            position: absolute;
            top: -1px;
            left: -1px;
            padding: 3px 7px;
            color: #9da0a4;
            font-size: 75%;
            font-weight: bold;
            content: "Container";
            border: 1px solid #ddd;
            border-radius: 4px 0;
            background-color: #f5f5f5;
        }

        .view {
            position: relative;
            display: block;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .drag {
            position: absolute;
            top: 5px;
            right: 80px;
            z-index: 10;
            cursor: pointer;
        }

        .remove {
            position: absolute;
            top: 5px;
            right: 5px;
            z-index: 10;
            cursor: pointer
        }

        .drag, 
        .remove {
            filter: alpha(opacity=20);
            opacity: 0.2;
            -webkit-transition: @layout-transaction;
            -moz-transition: @layout-transaction;
            -ms-transition: @layout-transaction;
            -o-transition: @layout-transaction;
            transition: @layout-transaction;
        }

        i {
            margin-right: 4px;
        }

        .row:hover > .drag, 
        .row:hover > .remove {
            filter: alpha(opacity=100);
            opacity: 1;
        }

        .layout-row-before();
        .layout-row();
        .layout-column();
        .layout-column-after();
    }

    .btn-back-edit {
        display: none;
    }
}
