<!DOCTYPE html>
<html>
<head>
    <%- include("includes/header.ejs") %>
    <title><%= i18n.dashboard.title %></title>
	<script type="text/javascript">
		requirejs(["<%- dataMain %>"], function(App) {
			requirejs(["admin/dashboard/Dashboard"]);
		});
	</script>
</head>
<body id="main"></body>
</html>