<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="description" content="我的个人博客" />
<meta name="keywords" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

<script type="text/javascript" src="../../vendors/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript" src="../../vendors/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" src="../../vendors/jquery-ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="jquery.htmlClean.js"></script>
<script type="text/javascript" src="scripts.js"></script>

<link rel="stylesheet" href="../../vendors/bootstrap/3.3.7/css/bootstrap-theme.min.css" />

<link rel="stylesheet" href="../../vendors/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" href="../../vendors/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="layoutit.css" />
    <title>欢迎访问我的个人博客系统</title>
</head>
    <body>
        <div class="container-fluid">
            <div class="layout-top-navbar">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="编辑"><i class="fa fa-edit"></i></button>
                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="预览"><i class="fa fa-eye"></i></button>
                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="清除"><i class="fa fa-eraser"></i></button>
                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="撤销"><i class="fa fa-undo"></i></button>
                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="重做"><i class="fa fa-repeat"></i></button>
                    </div>
                </div>
            </div>
            <div class="layout-side-navbar">
                <a href="#" class="layout-brand"><i class="fa fa-th-large"></i>可视化文本编辑器</a>
                <div class="layout-row">
                    <div class="preview">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-1 layout-column">
                                <input type="text" class="form-control" value="12" disabled />
                            </div>
                            <div class="col-md-3 col-md-offset-1 layout-column">
                                <span class="label label-default col-md-12 drag"><i class="fa fa-arrows"></i>拖动</span>
                            </div>
                        </div>
                    </div>
                    <div class="view">
                        <div class="row">
                            <span class="label label-default drag"><i class="fa fa-arrows"></i>拖动</span>
                            <span class="label label-danger remove"><i class="fa fa-remove"></i>删除</span>
                            <div class="col-md-12 layout-column"></div>
                        </div>
                    </div>
                </div>
                <div class="layout-row">
                    <div class="preview">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-1 layout-column">
                                <input type="text" class="form-control" value="6 6" disabled />
                            </div>
                            <div class="col-md-3 col-md-offset-1 layout-column">
                                <span class="label label-default col-md-12 drag"><i class="fa fa-arrows"></i>拖动</span>
                            </div>
                        </div>
                    </div>
                    <div class="view">
                        <div class="row">
                            <span class="label label-default drag"><i class="fa fa-arrows"></i>拖动</span>
                            <span class="label label-danger remove"><i class="fa fa-remove"></i>删除</span>
                            <div class="col-md-6 layout-column"></div>
                            <div class="col-md-6 layout-column"></div>
                        </div>
                    </div>
                </div>
                <div class="layout-row">
                    <div class="preview">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-1 layout-column">
                                <input type="text" class="form-control" value="4 8" disabled />
                            </div>
                            <div class="col-md-3 col-md-offset-1 layout-column">
                                <span class="label label-default col-md-12 drag"><i class="fa fa-arrows"></i>拖动</span>
                            </div>
                        </div>
                    </div>
                    <div class="view">
                        <div class="row">
                            <span class="label label-default drag"><i class="fa fa-arrows"></i>拖动</span>
                            <span class="label label-danger remove"><i class="fa fa-remove"></i>删除</span>
                            <div class="col-md-4 layout-column"></div>
                            <div class="col-md-8 layout-column"></div>
                        </div>
                    </div>
                </div>
                <div class="layout-row">
                    <div class="preview">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-1 layout-column">
                                <input type="text" class="form-control" value="8 4" disabled />
                            </div>
                            <div class="col-md-3 col-md-offset-1 layout-column">
                                <span class="label label-default col-md-12 drag"><i class="fa fa-arrows"></i>拖动</span>
                            </div>
                        </div>
                    </div>
                    <div class="view">
                        <div class="row">
                            <span class="label label-default drag"><i class="fa fa-arrows"></i>拖动</span>
                            <span class="label label-danger remove"><i class="fa fa-remove"></i>删除</span>
                            <div class="col-md-8 layout-column"></div>
                            <div class="col-md-4 layout-column"></div>
                        </div>
                    </div>
                </div>
                <div class="layout-row">
                    <div class="preview">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-1 layout-column">
                                <input type="text" class="form-control" value="4 4 4" disabled />
                            </div>
                            <div class="col-md-3 col-md-offset-1 layout-column">
                                <span class="label label-default col-md-12 drag"><i class="fa fa-arrows"></i>拖动</span>
                            </div>
                        </div>
                    </div>
                    <div class="view">
                        <div class="row">
                            <span class="label label-default drag"><i class="fa fa-arrows"></i>拖动</span>
                            <span class="label label-danger remove"><i class="fa fa-remove"></i>删除</span>
                            <div class="col-md-4 layout-column"></div>
                            <div class="col-md-4 layout-column"></div>
                            <div class="col-md-4 layout-column"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout-panel ui-sortable"></div>
        </div>
    </body>
</html>